<md-nav-bar md-selected-nav-item="currentNavItem">
  <md-nav-item ng-show="!user.uzytkownik" name="organizer.start" md-nav-sref="organizer.start">Start</md-nav-item>
  <md-nav-item ng-show="user.uzytkownik && user.manager" name="organizer.uzytkownik" md-nav-sref="organizer.uzytkownik">Pracownicy</md-nav-item>
  <md-nav-item ng-show="user.uzytkownik && user.manager" name="organizer.klient" md-nav-sref="organizer.klient">Klienci</md-nav-item>
  <md-nav-item ng-show="user.uzytkownik && user.manager" name="organizer.projekt" md-nav-sref="organizer.projekt">Projekty</md-nav-item>
  <md-nav-item ng-show="user.uzytkownik" name="organizer.moje-zadania" md-nav-sref="organizer.moje-zadania">Moje zadania</md-nav-item>
  <md-nav-item ng-show="user.uzytkownik" name="organizer.notatki" md-nav-sref="organizer.notatki">Notatki</md-nav-item>
</md-nav-bar>