<md-dialog>
    <md-dialog-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-show="!kupujacy.id">Dodaj klienta</h2>
                <h2 ng-show="kupujacy.id">Edytuj klienta</h2>
            </div>
        </md-toolbar>

        <form name="modyfikacjaKupujacy">
            <md-content layout-gt-sm="column" layout-padding>
                <div>
                    <md-input-container>
                        <label>Imię</label>
                        <input name="imie"  ng-model="kupujacy.imie" type="text" required />
                        <div ng-messages="modyfikacjaKupujacy.imie.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Wpisz imię klienta!
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Nazwisko</label>
                        <input name="nazwisko"  ng-model="kupujacy.nazwisko" type="text" required />

                        <div ng-messages="modyfikacjaKupujacy.nazwisko.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Wpisz nazwisko klienta!
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>PESEL</label>
                        <input name="pesel"  ng-model="kupujacy.pesel" type="text" required pattern="[0-9]{11}" />
                        <div ng-messages="modyfikacjaKupujacy.pesel.$error">
                            <div ng-message-exp="['required', 'pattern']">
                                Wpisz prawidłowy PESEL!
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Email</label>
                        <input name="email"  ng-model="kupujacy.email" type="text" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                        <div ng-messages="modyfikacjaKupujacy.email.$error">
                            <div ng-message-exp="['required', 'pattern']">
                                Wpisz email klienta!
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Nr telefonu</label>
                        <input name="telefon"  ng-model="kupujacy.telefon" type="text" required />

                        <div ng-messages="modyfikacjaKupujacy.telefon.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Wpisz nr telefonu klienta!
                            </div>
                        </div>
                    </md-input-container>

                    
                    <md-input-container>
                        <label>Adres</label>
                        <input name="adres"  ng-model="kupujacy.adres" type="text" required />
                        <div ng-messages="modyfikacjaKupujacy.adres.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Wpisz adres klienta!
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Hasło</label>
                        <input name="haslo"  ng-model="kupujacy.haslo" type="password" required minlength="6" />
                        <div ng-messages="modyfikacjaKupujacy.haslo.$error" multiple md-auto-hide="true">
                            <div ng-message-exp="['required', 'minlength']">
                                Wpisz przynajmniej 6 znaków!
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </md-content>
        </form>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary md-default-theme">
            Zamknij
        </md-button>
        <md-button ng-click="save()" class="md-primary" ng-disabled="!modyfikacjaKupujacy.$valid">
            Zapisz
        </md-button>
    </md-dialog-actions>
</md-dialog>