<md-dialog>
    <md-dialog-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-show="!sprzedawca.id">Dodaj nowego pracownika</h2>
                <h2 ng-show="sprzedawca.id">Edytuj pracownika</h2>
            </div>
        </md-toolbar>

        <form name="modyfikacjaSprzedajacy">
            <md-content layout-gt-sm="column" layout-padding>
                <div>
                    <md-input-container>
                        <label>Imię</label>
                        <input name="imie" ng-model="sprzedawca.imie" type="text" required />

                        <div ng-messages="modyfikacjaSprzedajacy.imie.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Wpisz imię pracownika!
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Nazwisko</label>
                        <input name="nazwisko" ng-model="sprzedawca.nazwisko" type="text" required />

                        <div ng-messages="modyfikacjaSprzedajacy.nazwisko.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Wpisz nazwisko pracownika!
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>PESEL</label>
                        <input name="pesel" ng-model="sprzedawca.pesel" type="text" required pattern="[0-9]{11}" />
                        <div ng-messages="modyfikacjaSprzedajacy.pesel.$error">
                            <div ng-message-exp="['required', 'pattern']">
                                Wpisz prawidłowy PESEL!
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Hasło</label>
                        <input name="haslo" ng-model="sprzedawca.haslo" type="password" required minlength="6" />

                        <div ng-messages="modyfikacjaSprzedajacy.haslo.$error" multiple md-auto-hide="true">
                            <div ng-message-exp="['required', 'minlength']">
                                Wpisz przynajmniej 6 znaków!
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </md-content>
        </form>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary md-default-theme">
            Zamknij
        </md-button>
        <md-button ng-click="save()" class="md-primary" ng-disabled="!modyfikacjaSprzedajacy.$valid">
            Zapisz
        </md-button>
    </md-dialog-actions>
</md-dialog>