<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Dodaj do koszyka</h2>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form name="modyfikacjaDodawania">
            <md-content layout-gt-sm="column" layout-padding>
                <div>
                    <md-input-container>
                        <label>Produkt</label>
                        <input name="produkt" type="text" ng-value="produkt.nazwa" disabled />
                    </md-input-container>

                    <md-input-container>
                        <label>Ilość (szt.)</label>
                        <input name="ilosc" ng-model="ilosc" type="number" required min="1" ng-max="{{ produkt.stan }}" />
                    </md-input-container>
                </div>
            </md-content>
        </form>

    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary md-default-theme">
            Zamknij
        </md-button>
        <md-button ng-click="save()" class="md-primary" ng-disabled="!modyfikacjaDodawania.$valid">
            Dodaj do koszyka
        </md-button>
    </md-dialog-actions>
</md-dialog>