<md-dialog>
    <md-dialog-content style="width: 700px;">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Zadania użytkownika {{uzytkownik.name}}</h2>

            </div>
        </md-toolbar>

        <div class="warning" ng-show="zadania.length == 0">
            <ng-md-icon icon="info" style="fill: grey; display: inline-block;" size="20"></ng-md-icon> Brak zadań!
        </div>

        <md-list>
            <md-list-item ng-repeat="zadanie in zadania | orderBy: '-termin'" class="md-3-line">
                <div class="md-list-item-text">
                    <h3><strong>{{ zadanie.nazwa }}</strong> (projekt: {{ zadanie.projekt.nazwa }})</h3>

                    <h4 ng-show="zadanie.termin">Termin wykonania: {{ zadanie.termin | date: 'dd.MM.yyyy' }}</h4>
                    <h4 ng-show="zadanie.realizacja">Data wykonania: {{ zadanie.realizacja | date: 'dd.MM.yyyy' }}</h4>
                </div>

                <ng-md-icon ng-show="!zadanie.zrealizowane" class="md-secondary" icon="check_box_outline_blank" style="fill: grey;" size="30"></ng-md-icon>
                <ng-md-icon ng-show="zadanie.zrealizowane" class="md-secondary" icon="check_box" style="fill: grey;" size="30"></ng-md-icon>
            </md-list-item>
        </md-list>

    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary md-default-theme">
            Zamknij
        </md-button>
    </md-dialog-actions>
</md-dialog>