<h2>
    <span>Zarządzanie pracownikami</span>
</h2>
<md-content>
    <md-list>
        <md-list-item ng-repeat="uzytkownik in $ctrl.uzytkownicy" class="md-3-line" ng-click="$ctrl.modyfikacja(uzytkownik)">
            <div class="md-list-item-text">
                <h3>{{ uzytkownik.imie }} {{ uzytkownik.nazwisko }}</h3>
                <h4>{{ uzytkownik.email }}</h4>
            </div>

            <md-button class="md-secondary md-icon-button" ng-click="$ctrl.modyfikacja(uzytkownik)">
                <ng-md-icon  icon="mode_edit" style="fill: grey;" size="30"></ng-md-icon>
            </md-button>

            <md-button class="md-secondary md-icon-button" ng-click="$ctrl.usun(uzytkownik)">
                <ng-md-icon icon="delete" style="fill: grey;" size="30"></ng-md-icon>
            </md-button>
        </md-list-item>
    </md-list>

    <md-button class="md-raised md-primary" ng-click="$ctrl.modyfikacja()">
        Dodaj nowego pracownika
    </md-button>
</md-content>