

    <div layout="column" layout-align="top left">
        <h3>Lista zadań</h3>

        <p><br>Brak zadań w tym projekcie!</p>

        <md-list>
            <md-list-item ng-repeat="zadanie in $ctrl.zadania | orderBy: '-termin'">
                <ng-md-icon ng-click="$ctrl.zakonczZadanie(zadanie)" icon="check_box_outline_blank" style="fill: grey;" size="30"></ng-md-icon>

                <h3>{{ zadanie.nazwa }}</h3>

                <p>Termin wykonania: {{ zadanie.termin | date: 'd.MM.yyyy' }}</p>

                <p>Pracownik: {{ $ctrl.getPracownik(zadanie.pracownik) }}</p>

                <md-button class="md-secondary md-icon-button" ng-click="$ctrl.modyfikacja(zadanie)">
                    <ng-md-icon icon="mode_edit" style="fill: grey;" size="30"></ng-md-icon>
                </md-button>

                <md-button class="md-secondary md-icon-button" ng-click="$ctrl.usun(zadanie)">
                    <ng-md-icon icon="delete" style="fill: grey;" size="30"></ng-md-icon>
                </md-button>
            </md-list-item>
        </md-list>

        <div class="text-center">
            <md-button ng-click="$ctrl.modyfikacja()" class="md-primary">
                Dodaj nowe zadanie
            </md-button>
        </div>
    </div>

    <div flex></div>