<h2>
    <span>Notatki</span>
</h2>

<md-content>
    <md-list>
        <md-list-item ng-repeat="notatki in $ctrl.lista" class="md-3-line" ng-click="$ctrl.modyfikacja(notatki)">

            <div class="md-list-item-text">
                <h3>{{notatki.tytul}}</h3>
                <p> {{ notatki.tresc }}</p>
                <p>Dodano: {{ notatki.data | date:'dd-MM-yyyy HH:mm' }}</p>
                
            </div>

            <md-button class="md-secondary md-icon-button" ng-click="$ctrl.modyfikacja(notatki)">
                <ng-md-icon  icon="mode_edit" style="fill: grey;" size="30"></ng-md-icon>
            </md-button>

            <md-button class="md-secondary md-icon-button" ng-click="$ctrl.usun(notatki)">
                <ng-md-icon icon="delete" style="fill: grey;" size="30"></ng-md-icon>
            </md-button>
        </md-list-item>
    </md-list>

    <md-button class="md-raised md-primary" ng-click="$ctrl.modyfikacja()">
        Dodaj notatkę
    </md-button>
</md-content>