<div layout="column" style="height:70vh;">

    <section layout="row" flex>

        <md-content flex layout-padding>

            <div layout="column" layout-align="top center">
                Lista zadań dla wybranego projektu :)
            </div>

            <div flex></div>

        </md-content>

        <md-sidenav
                class="md-sidenav-right"
                md-component-id="right"
                md-is-locked-open="1"
                md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <h3 class="md-toolbar-tools">Projekty</h3>
            </md-toolbar>
            <md-content layout-padding>
                <md-list>
                    <md-list-item ng-repeat="item in $ctrl.projekty" ng-click="$ctrl.klik(item);">
                        <h3>{{ item.nazwa }}</h3>

                        <md-button class="md-secondary md-icon-button" ng-click="$ctrl.usun(item)">
                            <ng-md-icon icon="delete" style="fill: grey;" size="30"></ng-md-icon>
                        </md-button>
                    </md-list-item>
                </md-list>


                <div id="sidebar-button">
                    <md-button ng-click="close()" class="md-primary">
                        Dodaj nowy projekt
                    </md-button>
                </div>
            </md-content>

        </md-sidenav>

    </section>

</div>

