<div layout="row">
    <div flex>
        <h2 class="text-center">Zaloguj się</h2>

        <form name="loginUzytkownik">
            <div>
                <md-input-container>
                    <label>Login</label>
                    <input name="Login" ng-model="logujUzytkownik.login" type="text"  />

                    <div ng-messages="loginUzytkownik.login.$error">
                        <div ng-message-exp="['required', 'pattern']">
                           Brak użytkownika o takim loginie!
                        </div>
                    </div>
                </md-input-container>
            </div>

            <div>
                <md-input-container>
                    <label>Hasło</label>
                    <input name="haslo" ng-model="logujUzytkownik.haslo" type="password" required minlength="6" />

                    <div ng-messages="loginUzytkownik.haslo.$error" multiple md-auto-hide="true">
                        <div ng-message-exp="['required', 'minlength']">
                            Wpisz przynajmniej 6 znaków!
                        </div>
                    </div>
                </md-input-container>
            </div>

            <md-button ng-click="$ctrl.logujJakoUzytkownik()" class="md-primary md-raised" ng-disabled="!loginUzytkownik.$valid">
                Zaloguj się
            </md-button>
        </form>
    </div>

    <div flex>
        <h2 class="text-center">Zarejestruj się </h2>

        <form name="signupUzytkownik">
                <div>
                    <md-input-container>
                        <label>Imię</label>
                        <input name="imie"  ng-model="rejestrujUzytkownik.imie" type="text" required />
                        <div ng-messages="signupUzytkownik.imie.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Wpisz poprawnie imię!
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Nazwisko</label>
                        <input name="nazwisko"  ng-model="rejestrujUzytkownik.nazwisko" type="text" required />

                        <div ng-messages="signupUzytkownik.nazwisko.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Wpisz poprawnie nazwisko!
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>PESEL</label>
                        <input name="pesel"  ng-model="rejestrujUzytkownik.pesel" type="text" required pattern="[0-9]{11}" />
                        <div ng-messages="signupUzytkownik.pesel.$error">
                            <div ng-message-exp="['required', 'pattern']">
                                Wpisz prawidłowy PESEL!
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Email</label>
                        <input name="email"  ng-model="rejestrujUzytkownik.email" type="text" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                        <div ng-messages="signupUzytkownik.email.$error">
                            <div ng-message-exp="['required', 'pattern']">
                                Wpisz email klienta!
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Nr telefonu</label>
                        <input name="telefon"  ng-model="rejestrujUzytkownik.telefon" type="text" required />

                        <div ng-messages="signupUzytkownik.telefon.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Wpisz poprawny numer telefonu!
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Dane</label>
                        <input name="adres"  ng-model="rejestrujUzytkownik.adres" type="text" required />
                        <div ng-messages="signupUzytkownik.adres.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Wpisz dane!
                            </div>
                        </div>
                    </md-input-container>
                </div>

               

            <md-button ng-click="$ctrl.rejestrujJakoUzytkownik()" class="md-primary md-raised" ng-disabled="!signupUzytkownik.$valid">
                Zarejestuj się
            </md-button>
        </form>
    </div>
</div>