<div layout="row" id="start">
    <div flex>
        <h2>Zaloguj się</h2>

        <form name="loginUzytkownik">
            <div>
                <md-input-container>
                    <label>Login</label>
                    <input name="login" ng-model="logujUzytkownik.login" type="text" required />

                    <div ng-messages="loginUzytkownik.login.$error">
                        <div ng-message="required">
                           Wpisz login!
                        </div>
                    </div>
                </md-input-container>
            </div>

            <div>
                <md-input-container>
                    <label>Hasło</label>
                    <input name="haslo" ng-model="logujUzytkownik.haslo" type="password" required minlength="6" />

                    <div ng-messages="loginUzytkownik.haslo.$error" multiple md-auto-hide="true">
                        <div ng-message-exp="['required', 'minlength']">
                            Wpisz przynajmniej 6 znaków!
                        </div>
                    </div>
                </md-input-container>
            </div>

            <md-button ng-click="$ctrl.logujJakoUzytkownik()" class="md-primary md-raised" ng-disabled="!loginUzytkownik.$valid">
                Zaloguj się
            </md-button>
        </form>
    </div>

    <div flex>
        <h2>Zarejestruj się </h2>

        <form name="signupUzytkownik">
                <div>
                    <md-input-container>
                        <label>Login</label>
                        <input name="login"  ng-model="rejestrujUzytkownik.login" type="text" required />
                        <div ng-messages="signupUzytkownik.login.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Wpisz poprawny login!
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Imię i nazwisko</label>
                        <input name="name"  ng-model="rejestrujUzytkownik.name" type="text" required />

                        <div ng-messages="signupUzytkownik.name.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                Wpisz poprawnie imię i nazwisko!
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Email</label>
                        <input name="email"  ng-model="rejestrujUzytkownik.email" type="text" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                        <div ng-messages="signupUzytkownik.email.$error">
                            <div ng-message-exp="['required', 'pattern']">
                                Wpisz swój email!
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Hasło</label>
                        <input name="haslo" ng-model="rejestrujUzytkownik.haslo" type="password" required minlength="6" />

                        <div ng-messages="signupUzytkownik.haslo.$error" multiple md-auto-hide="true">
                            <div ng-message-exp="['required', 'minlength']">
                                Wpisz przynajmniej 6 znaków!
                            </div>
                        </div>
                    </md-input-container>
                </div>

            <md-button ng-click="$ctrl.rejestrujJakoUzytkownik()" class="md-primary md-raised" ng-disabled="!signupUzytkownik.$valid">
                Zarejestuj się
            </md-button>
        </form>
    </div>
</div>