* {margin: 0; padding: 0;}

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

ng-md-icon {
  display: flex;

  &.inline,
  a & {
    display: inline-block;
  }
}

a {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
  font-size: 22px;
  padding: 10px 0;
}

footer {
  text-align: center;
  background: #FFF;
  color: #000;
  padding: 15px;
}
.withButton {overflow: hidden; padding: 10px;}
.toRight {float: right;}

#sprzedaz .md-errors-spacer {display: none;}

h2 {
  padding: 8px;
  color: grey;
  font-weight: 600;
}
#start h2 {
  padding: 8px 0;
  margin-bottom: 15px;
}
md-dialog md-dialog-content md-toolbar h2 {color: #FFF;}

#sidebar-button {text-align: center;}

#modyfikacjaProjektu {width: 400px;}

.small {font-size: 12px;}

md-tooltip {font-size: 12px;}

.active {background: rgba(0, 0, 0, 0.1);}